body{
    background-color: #D5DEE8;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 30px;
    font-size: 3rem;
    color: #262626;
    text-shadow: 2px 2px #BEBEBE;
  }
  
  #todoInput {
    width: 70%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #262626;
    font-size: 1.6rem;
    font-weight: 600;
    color: #262626;
    outline: none;
    transition: border-bottom 0.3s ease;
  }
  
  #todoInput:focus {
    border-bottom: 2px solid #1D7CF2;
  }
  
  #addButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1D7CF2;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  #addButton:hover {
    background-color: #1D7CF2;
    transform: translateY(-2px);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
  }
  
  li {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    font-size: 1.4rem;
    color: #262626;
    background-color: #92e8f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  li:hover {
    background-color: #E8E8E8;
    transform: translateX(10px);
  }
  
  li.checked {
    background-color: #ddd;
    color: #BEBEBE;
    text-decoration: line-through;
  }
  
  .delete {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: #BEBEBE;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .delete:hover {
    color: red;
  }
  
  #taskCount {
    margin-top: 30px;
    font-size: 1.6rem;
    color: #262626;
    text-shadow: 2px 2px #BEBEBE;
  }
  